* {
  box-sizing: border-box;
}
ul, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

:root, body, #root, .App {
  height: 100%;
  width: 100%;
  --background1: #3b173f;
  --background2: #300c33;
  --background3: #f3ebf5;
  --search-bg: #e0d5e2;
  --emphasis1: #bc2551;
  --text1: #86598b;
  --text2: #fffffd;
}

.App {
  display: flex;
}

.main-ticket {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-ticket__wrapper {
  display: flex;
  border-radius: 10px;
  flex-grow: 1;
}

.main-ticket__vertical-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.ticket-header {
  display: flex;
  padding: 15px 0;
  margin: 0 20px;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid var(--text1);
}

.description-box {
  padding: 20px;
}

.details-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.details-panel__block {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.details_panel__label {
  font-weight: 600;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px 15px 20px;
  border-bottom: 1px solid black;
}

.stats-panel {
  padding: 20px;
  border-bottom: 1px solid black;
}

.stats-blocks {
  display: flex;
}

.stats-card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  padding: 25px 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.bug-header {
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}

.bug-header__text {
  font-size: 14px;
  flex: 1 0 0;
}

.bug-header__bug {
  flex: 2 0 0;
}

.bug-by-product {
  margin-top: 20px;
}
.ticket-list-wrapper {
  display: flex;
}

.ticket-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0 25px;
  padding: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  width: 100%;
}

.ticket {
  display: flex;
  border-bottom: 1px solid #e7e4e7;
}

.ticket:last-child {
  border-bottom: none;
}

.ticket__text {
  overflow: hidden;
  flex: 1 0 0;
  padding: 15px 0;
}

.ticket__text--title {
  flex: 2 0 0;
}

.ticket__text--state {
  padding: 5px;
  border-radius: 5px;
}

.ticket__text--open {
  background-color: #b3dec2;
}

.ticket__text--closed {
  background-color: red;
}

.bug-product-title {
  padding: 5px 0 0 25px;
  display: flex;
}

.product-headline {
  padding: 10px 0;
  margin-right: 10px;
}

.product-add-button {
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.open_count {
  background-color: #b3dec2;
}

.closed_count {
  background-color: #dcf8ef;
}

.product-panel {
  background-color: var(--background3);
  display: flex;
  flex-direction: column;
}

.product-wrapper {
  padding: 15px 0 5px 5px;
}

.product-list-wrapper {
  padding: 5px 0 0 5px;
}

.search-bar-wrapper {
  position: relative;
  padding-right: 5px;
}

.search-bar {
  border-radius: 10px;
  border: none;
  padding: 10px 29px;
  background-color: var(--search-bg);
}

.search-bar__icon {
  position: absolute;
  left: 10px;
  bottom: 12px;
  opacity: 0.6;
}

.product__header {
  padding: 3px 5px 8px 0;
  display: flex;
  flex-direction: row;
}

.product__headline {
  padding: 0;
  font-size: 16px;
}

.product {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 7px 8px 0;
}

.product:hover {
  background-color: var(--text2);
}

.product__open {
  margin-right: 10px;
  font-weight: 800;
}

.square-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.square--open {
  margin-right: 5px;
  color: green;
}

.square--closed {
  color: red;
}

.nav__header {
  background-color: var(--background2);
  padding: 5px 5px 16px 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__title {
  font-size: 28px;
}

.user-bar {
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.user-bar__block {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.user-bar__subname {
  font-size: 12px;
}

.user-icon {
  border-radius: 50px;
  margin-right: 5px;
}

.nav-panel {
  color: var(--text1);
  background-color: var(--background1);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  width: 250px;
}

@media (max-width: 680px) {
  .nav-panel {
    display: none;
  }
}

.nav-list {
  padding-left: 25px;
  list-style: none;
}

.nav-list__item {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.nav-list__text {
  margin-left: 5px;
}

.nav-list__item:hover {
  color: var(--text2);
  background-color: var(--emphasis1);
}
